{{- if .Values.addonResizer.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "metrics-server.addonResizer.configMap" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "metrics-server.labels" . | nindent 4 }}
data:
  NannyConfiguration: |-
    apiVersion: nannyconfig/v1alpha1
    kind: NannyConfiguration
    baseCPU: {{ .Values.addonResizer.nanny.cpu }}
    cpuPerNode: {{ .Values.addonResizer.nanny.extraCpu }}
    baseMemory: {{ .Values.addonResizer.nanny.memory }}
    memoryPerNode: {{ .Values.addonResizer.nanny.extraMemory }}
{{- end -}}
