name: Lint and Test Chart

on:
  pull_request:
    paths:
      - .github/workflows/lint-test-chart.yaml
      - "charts/metrics-server/**"

jobs:
  lint-test:
    name: Lint & Test
    if: github.repository == 'kubernetes-sigs/metrics-server'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 #v3.5.0
        with:
          fetch-depth: 0

      - name: Set-up Python
        uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435 # v4.5.0
        with:
          python-version: "3.x"

      - name: Set-up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest

      - name: Set-up Artifact Hub CLI
        run: |
          set -euo pipefail
          curl -Lo /tmp/ah.tar.gz https://github.com/artifacthub/hub/releases/download/v1.11.0/ah_1.11.0_linux_amd64.tar.gz
          tar -xzvf /tmp/ah.tar.gz --directory /tmp
          mv /tmp/ah /usr/local/bin/ah
          chmod +x /usr/local/bin/ah
          rm -f /tmp/ah.tar.gz

      - name: Set-up chart-testing
        uses: helm/chart-testing-action@afea100a513515fbd68b0e72a7bb0ae34cb62aec # v2.3.1

      - name: Check for changes
        id: changes
        run: |
          changed="$(ct list-changed)"
          if [[ -n "${changed}" ]]
          then
            echo "changed=${{ toJSON(true) }}" >> $GITHUB_OUTPUT
          else
            echo "changed=${{ toJSON(false) }}" >> $GITHUB_OUTPUT
          fi

      - name: Run Artifact Hub lint
        if: fromJSON(steps.changes.outputs.changed)
        run: ah lint --kind helm || exit 1

      - name: Run chart-testing lint
        if: fromJSON(steps.changes.outputs.changed)
        run: ct lint --check-version-increment=false

      - name: Create Kind cluster
        if: fromJSON(steps.changes.outputs.changed)
        uses: helm/kind-action@d8ccf8fb623ce1bb360ae2f45f323d9d5c5e9f00 # v1.5.0
        with:
          wait: 120s

      - name: Run chart-testing install
        if: fromJSON(steps.changes.outputs.changed)
        run: ct install
